</main>
<footer>
    <div class="copycat">
        <p>@Sumukh Goutam BlogSpot <%= new Date().getFullYear()%></p>
    </div>
    <div class="social-icons">
        <a href="https://www.instagram.com/sumukh_0804/"><i class="fa-brands fa-instagram"></i></a>
        <a href="/contacts"><i class="fa-solid fa-phone"></i></a>
        <a href="https://www.linkedin.com/in/sumukh-goutam-4ab13529b/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-snapchat"></i></a>
    </div>
</footer>
</body>
</html>