<%- include("partials/header.ejs") %>
<section id="cont">
    <div class="info">
        <ul>
            <li>Phone Number: +XX XXXX-XXXX</li>
            <li>Email-Id: sumukhgoutam0804@gmail.com</li>
            <li>Address: Alpha Bravo Charlie Delta Eco Foxtrot</li>
        </ul>
        <p>For insta id, snapchat or linkedin click on the icons in the footer!</p>
    </div>
</section>
<%- include("partials/footer.ejs") %>