<%- include("partials/header.ejs")%>
<section id="hero">
    <div id="homeblur">
        <h1>Welcome Blogger...</h1>
        <p>To the heavenly abode where all bloggers type in their lovely maybe fun, maybe personal or maybe professional Blogs.
            <br>So start posting yours right now !
        </p>
    </div>
</section>

<%- include("partials/footer.ejs")%>